server:
  port: 8081

spring:
  application:
    name: uj-email
  zipkin:
    base-url: ${ZIPKIN_SERVER_URI:http://localhost:9411}
  rabbitmq:
    host: sparrow-01.rmq.cloudamqp.com
    port: 5672
    username: ${RABBITMQ_USERNAME:itggwiot}
    password: ${RABBITMQ_PASSWORD:FNAc7QotPFaC73UICw8YedtO6GVSspwD}
    virtual-host: ${RABBITMQ_VIRTUAL_HOST:itggwiot}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:proyecto.sis311@gmail.com}
    password: ${EMAIL_PASSWORD:mxfvninrrodvqtby}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_SERVER_URI:http://localhost:8711/eureka/}

